@{
    ViewBag.Title = "Главная";
}

<div class="jumbotron">
    <h4>Олимпиады по программированию</h4>
    <p>Сайт хранит информацию об олимпиадах и студентах факультета ЭИ, которые принимают участие в олимпиадах</p>
    
</div>

<div class="row">
    <div class="col-md-6">
        <h5>Создание отчета первого вида</h5>
        <p>
            Создается отчет о результатах проведения олимпиад с фамилиями студентов-победителей.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("ReportFirst", "Home")">Создать &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h5>Создание отчета второго вида</h5>
        <p>Создается отчет о результатах проведения олимпиад без указания фамилий студентов-победителей.</p>
        <p><a class="btn btn-default" href="@Url.Action("ReportSecond", "Home")">Создать &raquo;</a></p>
    </div>
</div>